<% include header %>
<div class="app content-area">
    <% include sidebar %>
    <div class="main-content">
        <div class="container-fluid">
          <ol class="breadcrumb">
            <li><a href="#">Accounts Management System</a></li>
            <li class="active">Create Voucher</li>
          </ol>
          <div class="row">
            <div class="col-sm-4">
              <h3>Create Voucher</h3>
            </div>
            <div class="col-sm-8 text-right">
              <form class="form-inline">
                <fieldset disabled>
                  <div class="form-group">
                    <label>Select Voucher</label>
                    <select class="form-control input-sm">
                      <option>Back Payment</option>
                      <option>Cash Payment</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-normal btn-sm"><i class="fa fa-print" aria-hidden="true"></i><span>Print</span></button>
                  <button type="button" class="btn btn-normal btn-sm"><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-normal btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="voucher-header">
            <form id="eventForm" method="post">
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">&nbsp;</label>
                  <h4>View Transactions:</h4>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Start date</label>
                        <select class="form-control">
                        	<option>Cash in Hand</option>
                            <option>Bank</option>
                        </select>
                      </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Start date</label>
                    <div class="input-group input-append date" id="startDatePicker">
                      <input type="text" class="form-control" name="startDate" />
                      <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">End date</label>
                    <div class="input-group input-append date" id="endDatePicker">
                      <input type="text" class="form-control" name="endDate" />
                      <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> </div>
                  </div>
                </div>
                <div class="col-md-1">
                <div class="form-group">
                <label class="control-label">&nbsp;</label>
                	<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
              </div>
            </form>
          </div>
          <form name="vouchers_listing" method="post" action="/voucher_3">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="4%"><input type="checkbox" /></th>
                        <th width="10%">Sr.#</th>
                        <th width="10%">Name</th>
                        <th width="12%">Memo</th>
                        <th width="20%">Date</th>
                        <th width="12%">Debit</th>
                        <th width="12%">Credit</th>
                    </tr>
                    <% vlist.forEach(function(voucher) { %>
                        <tr>
                            <td><input name="select_voucher" value="<%= voucher.id %>" type="checkbox" /></td>
                            <td><%= voucher.id %></td>
                            <td><%= voucher.name %></td>
                            <td><%= voucher.memo %></td>
                            <td><%= voucher.date %></td>
                            <td><%= voucher.debit %></td>
                            <td><%= voucher.credit %></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
              <div class="voucher-footer text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                <button type="submit" class="btn btn-normal">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
          </form>
        </div>
      </div>
</div>
<% include footer %>